@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
            <input type="hidden" id="id" value="${billZhaoxb.id}">
            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="billApplicant" name="申请人" underline="true" value="${billZhaoxb.billApplicant}" disabled="disabled"/>
                    <#input id="billTel" name="手机" underline="true" value="${billZhaoxb.billTel}" disabled="disabled"/>
                </div>

                <div class="col-sm-6">
                    <#input id="billType" name="账单类型" underline="true" value="${billZhaoxb.billType}" disabled="disabled"/>
                    <#input id="billMoney" name="金额" underline="true" value="${billZhaoxb.billMoney}" disabled="disabled"/>
                </div>

            <div>
                @for(process in pro){
                ============================================================================================================
                <#input id="processAuditor" name="审核人" underline="true" value="${process.processAuditor}" disabled="disabled"/>
                <#input id="processDate" name="审核日期" underline="true" value="${process.processDate}" disabled="disabled"/>
                <#input id="processState" name="审核状态" underline="true" value="${process.processState}" disabled="disabled"/>
                <#input id="processRemarks" name="审核备注" underline="true" value="${process.processRemarks}" disabled="disabled"/>
                @}
            </div>
                <div class="col-sm-6" id="shenhe">
                    <#select id="billState" name="账单状态" underline="true" value="${billZhaoxb.billState}">
                    <option value="驳回">驳回</option>
                    <option value="审核通过">审核通过</option>
                </#select>
                <#input id="billAuditor" name="审核人" underline="true" value="${billZhaoxb.billAuditor}" disabled="disabled"/>
                <#input id="billRemarks" name="备注" underline="true" value="${billZhaoxb.billRemarks}"/>
            </div>
            <#input type="hidden" id="billState1" name="" underline="true" value="${billZhaoxb.billState}" disabled="disabled"/>
            <#input type="hidden" id="billUser" name="" underline="true" value="${user}" disabled="disabled"/>
            </div>
            <div class="row btn-group-m-t">
                <div class="col-sm-10" id="submit" >
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="BillmanageInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="返回" id="cancel" icon="fa-eraser" clickFun="BillmanageInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/billmanage/billmanage_info.js"></script>
@}
